@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bold.eot") format("eot");
  src: url("../fonts/lato/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
