@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadProRegular.eot") format("eot");
  src: url("../fonts/MyriadPro/MyriadProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadProBold.eot") format("eot");
  src: url("../fonts/MyriadPro/MyriadProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.eot") format("eot");
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
