html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1600px) {
  /*.capabilities
		min-height: 700px
		background: linear-gradient(-2deg, #fff 15%, $accent-color 15%, $accent-color 85%, $dark-grey 85%)*/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .private-ads .content {
    width: auto;
  }
  .footer-links .content, .copyrights .content {
    width: auto;
  }
  .capabilities .content .item:nth-child(2) {
    margin-right: 100px;
    margin-left: 100px;
  }
  .top-line .content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .top-logo {
    display: none;
  }
  .main-menu {
    margin-left: 20px;
  }
  .user-menu {
    margin-left: auto;
    margin-right: 15px;
  }
  .slide .big-logo {
    width: 75%;
  }
  .slide a {
    padding: 15px;
    font-size: 18px;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .private-ads {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .private-ads .iphone-ads {
    display: none;
  }
  .private-ads .private-ads-text {
    max-width: 100% !important;
  }
  .private-ads .private-ads-text h2 {
    text-align: center;
  }
  .capabilities .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .capabilities .content .item:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .main-menu {
    display: none;
  }
  .top-line .content .user-name {
    display: none;
  }
  .catalog .content .fullwidth-menu {
    display: none;
  }
  /*.about
		background: linear-gradient(-2deg, #e7e7e7 5%, $dark-grey 5%, $dark-grey 95%, #f7f7f7 95%)*/
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .footer-links .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links .content .item {
    text-align: center !important;
  }
  .footer-links .content .item:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .catalog h2 {
    font-size: 22px !important;
  }
  .catalog .items .item {
    width: 50% !important;
  }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .catalog .items .item {
    width: 100% !important;
  }
  .show-full-catalog {
    font-size: 16px !important;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}

.edge--bottom {
  position: relative;
  z-index: 1;
}

.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 100%;
      -ms-transform-origin: 100%;
          transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}

.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.edge--bottom--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(2deg);
      -ms-transform: skewY(2deg);
          transform: skewY(2deg);
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}

.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.edge--top:before {
  top: 0;
  -webkit-transform: skewY(2deg);
      -ms-transform: skewY(2deg);
          transform: skewY(2deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}

.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.edge--top--reverse:before {
  top: 0;
  -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}

.edge--both:before, .edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.edge--both:before {
  top: 0;
  -webkit-transform: skewY(2deg);
      -ms-transform: skewY(2deg);
          transform: skewY(2deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.edge--both:after {
  bottom: 0;
  -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 100%;
      -ms-transform-origin: 100%;
          transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}

.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.edge--both--reverse:before {
  top: 0;
  -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.edge--both--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(2deg);
      -ms-transform: skewY(2deg);
          transform: skewY(2deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

/*body
	box-sizing: content-box
	width: $page-basic-width
	padding: auto*/
.page-header {
  background-color: #474a5c;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-line {
  background-color: #2f313d;
  min-height: 105px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-line .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-navigation {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 14px;
}

.top-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-navigation ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 15px;
}

.top-navigation ul li:last-child {
  margin-right: 0;
}

.top-navigation ul li a {
  text-decoration: none;
  color: #fff;
}

.top-navigation ul li a:hover {
  color: #58b400;
}

.rounded-image-wrapper {
  background-color: #82838b;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  height: 63px;
  width: 63px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.rounded-image-wrapper:hover {
  background-color: #58b400;
}

.rounded-image-wrapper .rounded-image {
  -webkit-box-shadow: inset 9px -4px 210px 41px rgba(71, 74, 92, 0.3);
          box-shadow: inset 9px -4px 210px 41px rgba(71, 74, 92, 0.3);
  opacity: 1;
  display: inline-block;
  height: 55px;
  width: 55px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position-x: center;
}

.rounded-image-wrapper .rounded-image a {
  display: block;
  height: 100%;
  weight: 100%;
}

.slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.slide a {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 24px;
  border-style: solid;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-width: 3px;
}

.slide a:hover {
  color: #58b400;
}

.user-name a {
  color: #58b400 !important;
}

.main-menu {
  margin-left: auto;
  margin-right: 50px;
}

.capabilities {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 420px;
  background-color: #58b400;
}

.capabilities .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  color: #fff;
  max-height: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.capabilities .content .item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 320px;
  min-height: 200px;
  text-align: center;
}

.capabilities .content .item:nth-child(2) {
  margin-right: 120px;
  margin-left: 120px;
}

.capabilities .content .item h3 {
  text-transform: uppercase;
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.capabilities .content .item .item-separator {
  display: block;
  width: 100px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.capabilities .content .item p {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.capabilities .content .item .item-more {
  display: inline-block;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;
  border-style: solid;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-width: 3px;
}

.capabilities .content .item .item-more:hover {
  background: rgba(255, 255, 255, 0.2);
}

.content {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.hamburger {
  color: #fff;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}

.mobile-menu {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(71, 74, 92, 0.9);
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translatey(-100%);
      -ms-transform: translatey(-100%);
          transform: translatey(-100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu-active {
  -webkit-transform: translatey(0%) !important;
      -ms-transform: translatey(0%) !important;
          transform: translatey(0%) !important;
}

.mobile-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu ul li {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.mobile-menu ul li:hover {
  background: rgba(88, 180, 0, 0.7);
}

.mobile-menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 24px;
}

.catalog {
  background-color: #f7f7f7;
  padding-top: 90px;
  padding-bottom: 90px;
}

.catalog .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.catalog .content h2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #2f313d;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #2f313d;
  padding-bottom: 20px;
}

.catalog .content .fullwidth-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog .content .fullwidth-menu ul li {
  display: inline-block;
  margin-left: 25px;
}

.catalog .content .fullwidth-menu ul li a {
  color: #000;
  text-decoration: none;
  font-family: 'Myriad Pro';
  font-font-weight: normal;
  font-size: 25px;
}

.catalog .content .fullwidth-menu ul li a:hover {
  color: #58b400;
}

.catalog .content .categories {
  margin-top: 30px;
}

.catalog .content .categories .cat > h3 {
  color: #58b400;
  margin-top: 50px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 38px;
  font-weight: bold;
}

.catalog .content .categories .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.catalog .content .categories .items .item {
  margin-top: 40px;
  width: 33%;
}

.catalog .content .categories .items .item .product-pic {
  margin: auto;
  max-width: 250px;
  height: 200px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position-x: center;
}

.catalog .content .categories .items .item .product-pic a {
  display: block;
  height: 100%;
  weight: 100%;
}

.catalog .content .categories .items .item h3 {
  max-width: 250px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-size: 18px;
}

.catalog .content .categories .items .item span {
  margin-top: 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Myriad Pro';
  font-weight: bold;
  font-size: 26px;
}

.catalog .show-full-catalog {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #474a5c;
  font-family: 'Open Sans';
  font-size: 24px;
  border-style: solid;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-width: 3px;
}

.catalog .show-full-catalog:hover {
  color: #58b400;
}

.about {
  background-color: #2f313d;
}

.about .content {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 100%;
  color: #fff;
}

.about .content h2 {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 38px;
}

.about .content article {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 73px;
     -moz-column-gap: 73px;
          column-gap: 73px;
  -webkit-column-width: 500px;
     -moz-column-width: 500px;
          column-width: 500px;
}

.about .content article p {
  margin-top: 40px;
}

.about .content article p:first-child {
  margin-top: 0px;
}

.accent-text-color {
  color: #58b400 !important;
}

.cat {
  height: auto;
}

.private-ads {
  padding-top: 150px;
  background-color: #e7e7e7;
  min-height: 300px;
}

.private-ads .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.private-ads .content .iphone-ads {
  min-width: 470px;
  background-image: url("../img/iphone.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-position-x: center;
  height: 600px;
}

.private-ads .content .private-ads-text {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 600px;
}

.private-ads .content .private-ads-text h2 {
  font-family: 'Open Sans';
  font-font-weight: bold;
  font-size: 30px;
}

.private-ads .content .private-ads-text p {
  letter-spacing: 0.05em;
  line-height: 25px;
  margin-top: 30px;
  font-family: 'Myriad Pro';
  font-font-weight: normal;
  font-size: 16px;
}

.footer-links {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2f313d;
}

.footer-links .content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.footer-links .content .item {
  text-align: center;
}

.footer-links .content .item p {
  margin-top: 15px;
  font-family: 'Myriad Pro';
  font-size: 20px;
  color: #fff;
}

.footer-links .content .item p a {
  color: #58b400;
  font-weight: bold;
  text-decoration: none;
}

.footer-links .content .item h3 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.footer-links .content .item:first-child {
  text-align: left;
}

.footer-links .content .item:last-child {
  text-align: right;
}

.footer-links .content .item ul {
  margin-top: 30px;
}

.footer-links .content .item ul a {
  color: #fff;
  text-decoration: none;
  line-height: 22px;
  font-family: 'Myriad Pro';
  font-size: 18px;
}

.footer-links .content .item ul a:hover {
  color: #58b400;
}

.copyrights {
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #58b400;
}

.copyrights .content {
  padding-right: 50px;
  font-family: 'Lato';
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.07em;
  color: #2f313d;
}

.copyrights .content a {
  text-decoration: none;
  color: #e7e7e7;
}

.copyrights .content a:hover {
  text-decoration: underline;
}

.youtube {
  margin-left: auto;
  margin-right: auto;
}

.telegram-logo:hover {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
