/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1600px) {
  /*.capabilities
		min-height: 700px
		background: linear-gradient(-2deg, #fff 15%, $accent-color 15%, $accent-color 85%, $dark-grey 85%)*/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .footer-links .content, .copyrights .content {
    width: auto;
  }
  .capabilities .content .item:nth-child(2) {
    margin-right: 100px;
    margin-left: 100px;
  }
  .top-line .content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .top-logo {
    display: none;
  }
  .main-menu {
    margin-left: 20px;
  }
  .user-menu {
    margin-left: auto;
    margin-right: 15px;
  }
  .slide .big-logo {
    width: 75%;
  }
  .slide a {
    padding: 15px;
    font-size: 18px;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .private-ads {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .private-ads .iphone-ads {
    display: none;
  }
  .private-ads .private-ads-text {
    max-width: 100% !important;
  }
  .private-ads .private-ads-text h2 {
    text-align: center;
  }
  .capabilities .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .capabilities .content .item:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .main-menu {
    display: none;
  }
  .top-line .content .user-name {
    display: none;
  }
  .catalog .content .fullwidth-menu {
    display: none;
  }
  /*.about
		background: linear-gradient(-2deg, #e7e7e7 5%, $dark-grey 5%, $dark-grey 95%, #f7f7f7 95%)*/
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .footer-links .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links .content .item {
    text-align: center !important;
  }
  .footer-links .content .item:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .catalog h2 {
    font-size: 22px !important;
  }
  .catalog .items .item {
    width: 50% !important;
  }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .catalog .items .item {
    width: 100% !important;
  }
  .show-full-catalog {
    font-size: 16px !important;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
