/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1600px) {
  /*.capabilities
		min-height: 700px
		background: linear-gradient(-2deg, #fff 15%, $accent-color 15%, $accent-color 85%, $dark-grey 85%)*/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .capabilities .content .item:nth-child(2) {
    margin-right: 100px;
    margin-left: 100px;
  }
  .top-line .content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .top-logo {
    display: none;
  }
  .main-menu {
    margin-left: 20px;
  }
  .user-menu {
    margin-left: auto;
    margin-right: 15px;
  }
  .slide .big-logo {
    width: 75%;
  }
  .slide a {
    padding: 15px;
    font-size: 18px;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .capabilities .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .capabilities .content .item:nth-child(2) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .main-menu {
    display: none;
  }
  .top-line .content .user-name {
    display: none;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
